# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
x64/
.vs/
Fallout_Character_Manager/characters/.../.../armors.txt
Fallout_Character_Manager/characters/.../.../base.txt
Fallout_Character_Manager/characters/.../.../conditions.txt
Fallout_Character_Manager/characters/.../.../perks.txt
Fallout_Character_Manager/characters/.../.../weapons.txt
Fallout_Character_Manager/characters/.../filename.txt
Fallout_Character_Manager/characters/
Fallout_Character_Manager/characters/filename.txt
